
<nav class="navbar sticky-top fixed-top navbar-expand-md" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= link_to image_tag("xyz/logo.svg", class: "d-inline-block align-text-top"), root_path %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="col-sm-3 mx-auto">
        <form class="d-flex" role="search" data-controller="isbn-search">
          <%= text_field_tag :isbn, "", placeholder: "Search",
                class: "form-control rounded-4", "aria-label": "Search",
                data: { action: "keydown.enter->isbn-search#search", "isbn-search-target": "isbn" }
                %>
        </form>
      </div>
      <ul class="navbar-nav fw-semibold">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Rent Textbooks", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Buy Textbooks", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sell Textbooks", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "En", "#", class: "nav-link lang-selector ps-4" %>
        </li>
      </ul>
      <button class="btn btn-primary btn-bd-primary" type="submit">Contact</button>
    </div>
  </div>
</nav>
